{# src/OC/AdminBundle/Resources/views/Appoinment/add.html.twig #}
<!DOCTYPE html>
<html>
<head>
	<title>Bienvenue sur ma deuxiéme page developpée avec Symfony!</title>
</head>
<body>
<h1>Page d'ajout d'un rendez vous</h1>

<p></p>

</body>
</html>