{# src/OC/AdminBundle/Resources/views/Appoinment/view.html.twig #}
<!DOCTYPE html>
<html>
<head>
	<title>Bienvenue sur ma deuxiéme page developpée avec Symfony!</title>
</head>
<body>
<h1>Page d'administration</h1>

<p>C'est la page d'administration </p>

</body>
</html>