{# src/OC/AdminBundle/Resources/views/Doctor/delete.html.twig #}
<!DOCTYPE html>
<html>
<head>
	<title>Bienvenue page de suppression  d'un docteur</title>
</head>
<body>
<h1>Page de suppression  d'un docteur</h1>

<p></p>

</body>
</html>