{# src/OC/AdminBundle/Resources/views/Doctor/edit.html.twig #}
{% extends "OCAdminBundle::layout.html.twig" %}

{% block oc_body_content %}
  <div class="container-fluid" style="background-color:red;color:white;">
  <h2>

    Edit Doctor
  </h2>  
</div>
{{include("OCAdminBundle:Doctor:form.html.twig")}}

<p>
    Attention : ce Docteur sera modifié directement
    sur la page d'accueil après validation du formulaire.
  </p>
{% endblock %}