{# src/OC/AdminBundle/Resources/views/Doctor/undelete.html.twig #}
<!DOCTYPE html>
<html>
<head>
	<title>Bienvenue page du rajout d'un docteur</title>
</head>
<body>
<h1>Page de rajout d'un docteur</h1>

<p></p>

</body>
</html>