{# src/OC/AdminBundle/Resources/views/Admin/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
	<title>Bienvenue sur ma première page developpée avec Symfony!</title>
</head>
<body>
<h1>Page d'authentification</h1>


<div class="well">
  Ici se trouvera le formulaire.
</div>

</body>
</html>